

:root{
  --dark: #20002A;
  --purple: #440091;
  --accent: #5B0076;
  --white: #ffff;
  --orange: #F5AE3D;
  --neon: #FF9D00;

}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
